@charset "utf-8";

/* Marker Default Styles
--------------------------------*/
.marker {
	color: #ffffff;
	width: auto;
	padding: 0px;
	margin: 0px;
}

.marker .header,
.marker .body {
	background: #000000;
}

.marker .footer {
	background: url(skin/bgi_arrow.png) no-repeat center top;
	padding-bottom: 7px;
}

.marker:hover .header,
.marker:hover .body,
.marker.active .header,
.marker.active .body {
	background: #666666;
}

.marker:hover .footer,
.marker.active .footer {
	background: url(skin/bgi_arrow.png) no-repeat center bottom;
	padding-bottom: 7px;
}

.marker a {
	color: #add8e6;
}

.marker a:hover {
	color: #daa520;
}



/* Marker HTML
------------------------------------*/
.html {
	width: auto;
}

.html .body {
	width: 200px;
}



/* Marker Image
------------------------------------*/
.image {
	width: 116px;
}

.image .body,
.image.active .body,
.image:hover .body {
	background: none;
}

.image .photo {
	text-align: center;
	padding: 8px 0px 15px 0px;
	overflow: hidden;
	height: 70px;
	position: relative;
}

.image .photo a {
	display: inline-block;
}

.image .photo img {
	vertical-align: top;
	border: 1px solid #cccccc;
	width: 100px;
	height: 70px;
}

/* Marker - Square
--------------------------------*/
.square {
	background: url(../images/marker/bgi_marker_square_top.png) no-repeat left top;
}

.square .photo {
	background: url(../images/marker/bgi_marker_square_bottom.png) no-repeat left bottom;
}

.square.active, .square:hover {
	background: url(../images/marker/bgi_marker_square_top.png) no-repeat -116px top;
}

.square.active .photo, .square:hover .photo {
	background: url(../images/marker/bgi_marker_square_bottom.png) no-repeat -116px bottom;
}