@charset "utf-8";

/* Marker Default Styles
--------------------------------*/
.marker {
	color: #ffffff;
	width: auto;
	padding: 0px;
	margin: 0px;
}

.marker .header,
.marker .body {
	background: #000000;
}

.marker .footer {
	background: url(../images/marker/bgi_arrow.png) no-repeat center top;
	padding-bottom: 7px;
}

.marker:hover .header,
.marker:hover .body,
.marker.active .header,
.marker.active .body {
	background: #666666;
}

.marker:hover .footer,
.marker.active .footer {
	background: url(../images/marker/bgi_arrow.png) no-repeat center bottom;
	padding-bottom: 7px;
}

.marker a {
	color: #add8e6;
}

.marker a:hover {
	color: #daa520;
}



/* Marker HTML
------------------------------------*/
.html {
	width: auto;
}

.html .body {
	width: 300px;
}


/* Marker Image
------------------------------------*/
.image {
	width: 116px;
}

.image .body,
.image.active .body,
.image:hover .body {
	background: none;
}

.image .photo,
.image .photos {
	text-align: center;
	padding: 8px 0px 15px 0px;
	overflow: hidden;
	height: 70px;
	position: relative;
}

.image .photo a,
.image .photos a {
	display: inline-block;
}

.image .photo img,
.image .photos img {
	vertical-align: top;
	border: 1px solid #cccccc;
	width: 100px;
	height: 70px;
}

.image .photos li {
	padding-left: 7px;
	position: absolute;
	left: 0px;
}



/* Marker - Square
--------------------------------*/
.square {
	background: url(../images/marker/bgi_marker_square_top.png) no-repeat left top;
}

.square .photo,
.square .photos {
	background: url(../images/marker/bgi_marker_square_bottom.png) no-repeat left bottom;
}

.square.active,
.square:hover {
	background: url(../images/marker/bgi_marker_square_top.png) no-repeat -116px top;
}

.square.active .photo,
.square:hover .photo,
.square.active .photos,
.square:hover .photos {
	background: url(../images/marker/bgi_marker_square_bottom.png) no-repeat -116px bottom;
}