body{font-family: "Vollkorn","Myriad Pro","Segoe UI",Helvetica, Arial, sans-serif;}

/* **************** CONTENT OBJECTS ***************** */

/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote {padding:10px;}
h1, h2, h3, h4, h5, h6,img{padding-bottom:0px;}
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl{padding:0;}

/* ====== Elements ====== */
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}
code{color:#0B8C8F;}

/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{font-size:240%; font-weight:bold; font-style: normal; color:#00407d; line-height: 140%; }
h2, .h2{font-size:167%; font-weight:bold; font-style: normal; color:#333333; line-height: 140%; }
h3, .h3{font-size:123.1%; font-weight:bold; font-style: normal; color:#00498e; line-height: 100%; }
h4, .h4{font-size:123.1%; font-weight:normal; font-style: normal; color: #333;}
h5, .h5{font-size:108%; font-weight:bold; font-style: normal; color:#AE0345;}
h6, .h6{font-size:108%; font-weight:normal; font-style: italic; color:#333;}

.logo { padding: 0px; margin-top: 0px; margin-bottom: 10px; line-height: 100%; }
.version { padding:0px; }

p, ol, ul {
	line-height: 140%;
}

/* links */
a {color: #2c4460; text-decoration: none;}
a:focus, a:hover {text-decoration: underline;}
a:focus{background-color:#FFFFCC;}
a:visited { color:#005a9c; }

/* ====== Lists ======*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:40px;}

/* standard list */
ul.simpleList li{list-style-type:disc; margin-left:40px;}

.main h1 { margin-top: 15px; margin-bottom: 10px; }
.main h1:first-child { margin-top: 0px; }
.main h2 { margin-top: 15px; margin-bottom: 10px; }
.main h2:first-child { margin-top: 0px; }
.main h3 { margin-bottom: 5px; }
.main p { margin-bottom: 0px; padding-bottom: 0px;}