@charset "utf-8";

/*================Marker Styles================*/

/* Image Marker
====================================*/

/* Default
-----------------------*/
.imageDefault {
	text-align: center;
	width: 70px;
	padding-bottom: 18px;
	background: url(../images/markers/bgi_default_ft.png) no-repeat left bottom;
}

.imageDefault .photo {
	background: url(../images/markers/bgi_default_bd.png) no-repeat left top;
	margin: 0px;
	padding: 10px 0px 4px 0px;
}

.imageDefault .photo img {
	border: none;
	vertical-align: bottom;
	display: inline;
}

.imageDefault:hover,
.imageDefault.active {
	background: url(../images/markers/bgi_default_ft.png) no-repeat -70px bottom;
}

.imageDefault:hover .photo,
.imageDefault.active .photo {
	background: url(../images/markers/bgi_default_bd.png) no-repeat -70px bottom;
}



/* Paper
-----------------------*/
.imagePaper {
	text-align: center;
	width: 72px;
	padding-bottom: 18px;
	background: url(../images/markers/img_paper_ft.png) no-repeat left bottom;
}

.imagePaper .photo {
	background: url(../images/markers/img_paper_bd.png) no-repeat left top;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

.imagePaper .photo img {
	vertical-align: bottom;
	display: inline;
	border: 1px solid #ffffff;
}

.imagePaper:hover {
	background: url(../images/markers/img_paper_ft.png) no-repeat -72px bottom;
}

.imagePaper:hover .photo {
	background: url(../images/markers/img_paper_bd.png) no-repeat -72px bottom;
}





/* Marker
====================================*/

/* Default
----------------------*/
.markerDefault {
	min-width: 250px;	
}

.markerDefault .hd {
	border-top: 5px solid #333333;
	border-left: 5px solid #333333;
	border-right: 5px solid #333333;
	background: url(../images/markers/bgi_html_default.jpg) repeat-x left top;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	margin: 0px;
	padding: 0px;
}

.markerDefault .hd .title {
	padding: 5px 10px 5px 10px;
	margin: 0px;
	color: #ffffff;
	height: 17px;
	border-bottom: 1px solid #cccccc;
}

.markerDefault .bd {
	margin: 0px;
	padding: 10px;
	border-left: 5px solid #333333;
	border-right: 5px solid #333333;
	border-bottom: 5px solid #333333;
	background: #ffffff;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

.markerDefault .ft {
	background: url(../images/markers/bgi_html_default_arrow.png) no-repeat left top;
	height: 18px;
	width: 25px;
	margin: -5px auto 0px auto;
}





/* Marker Images
====================================*/

/* Default
----------------------*/
.imagesDefault {
	text-align: center;
	width: 70px;
	padding-bottom: 18px;
	background: url(../images/markers/bgi_default_ft.png) no-repeat left bottom;
}

.imagesDefault .photos {
	background: url(../images/markers/bgi_default_bd.png) no-repeat left top;
	margin: 0px;
	padding: 10px 0px 4px 0px;
	position: relative;
	height: 50px;
}

.imagesDefault .photos li {
	position: absolute;
	left: 10px;
}

.imagesDefault .photos img {
	border: none;
	vertical-align: bottom;
	display: inline;
}

.imagesDefault:hover {
	background: url(../images/markers/bgi_default_ft.png) no-repeat -70px bottom;
}

.imagesDefault:hover .photos {
	background: url(../images/markers/bgi_default_bd.png) no-repeat -70px bottom;
}


/* Paper
 ----------------------*/
.imagesPaper {
	text-align: center;
	width: 72px;
	padding-bottom: 18px;
	background: url(../images/markers/img_paper_ft.png) no-repeat left bottom;
}

.imagesPaper .photos {
	background: url(../images/markers/img_paper_bd.png) no-repeat left top;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	height: 52px;
}

.imagesPaper .photos li {
	position: absolute;
	left: 10px;
}

.imagesPaper .photos img {
	vertical-align: bottom;
	display: inline;
	border: 1px solid #ffffff;
}

.imagesPaper:hover {
	background: url(../images/markers/img_paper_ft.png) no-repeat -72px bottom;
}

.imagesPaper:hover .photos {
	background: url(../images/markers/img_paper_bd.png) no-repeat -72px bottom;
}
