@charset "utf-8";

/*================Marker Styles================*/

/* Image Marker */
.default {
	text-align: center;
	width: 70px;
	padding-bottom: 18px;
	background: url(../images/markers/bgi_default_ft.png) no-repeat left bottom;
}

.default .photo {
	background: url(../images/markers/bgi_default_bd.png) no-repeat left top;
	margin: 0px;
	padding: 10px 0px 4px 0px;
}

.default .photo img {
	border: none;
	vertical-align: bottom;
	display: inline;
}

.default:hover {
	background: url(../images/markers/bgi_default_ft.png) no-repeat -70px bottom;
}

.default:hover .photo {
	background: url(../images/markers/bgi_default_bd.png) no-repeat -70px bottom;
}



.paper {
	text-align: center;
	width: 72px;
	padding-bottom: 18px;
	background: url(../images/markers/img_paper_ft.png) no-repeat left bottom;
}

.paper .photo {
	background: url(../images/markers/img_paper_bd.png) no-repeat left top;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

.paper .photo img {
	vertical-align: bottom;
	display: inline;
	border: 1px solid #ffffff;
}

.paper:hover {
	background: url(../images/markers/img_paper_ft.png) no-repeat -72px bottom;
}

.paper:hover .photo {
	background: url(../images/markers/img_paper_bd.png) no-repeat -72px bottom;
}

/* Default Marker */
.html {
	min-width: 250px;	
}

.html .hd {
	border-top: 5px solid #333333;
	border-left: 5px solid #333333;
	border-right: 5px solid #333333;
	background: url(../images/markers/bgi_html_default.jpg) repeat-x left top;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	margin: 0px;
	padding: 0px;
}

.html .hd .title {
	padding: 5px 10px 5px 10px;
	margin: 0px;
	color: #ffffff;
	height: 17px;
	border-bottom: 1px solid #cccccc;
}

.html .bd {
	margin: 0px;
	padding: 10px;
	border-left: 5px solid #333333;
	border-right: 5px solid #333333;
	border-bottom: 5px solid #333333;
	background: #ffffff;
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
}

.html .ft {
	background: url(../images/markers/bgi_html_default_arrow.png) no-repeat left top;
	height: 18px;
	width: 25px;
	margin: -5px auto 0px auto;
}
