/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{font-size:196%; font-weight:normal; font-style: normal; color: #333333; }
h2, .h2{font-size:167%; font-weight:normal; font-style: normal; color: #333333; }
h3, .h3{font-size:146.5%; font-weight:normal; font-style: normal; color: #333333; }
h4, .h4{font-size:123.1%; font-weight:normal; font-style: normal; color: #333;}
h5, .h5{font-size:108%; font-weight:bold; font-style: normal; color:#AE0345;}
h6, .h6{font-size:108%; font-weight:normal; font-style: italic; color:#333;}

.hgGroup { margin-top: 20px; margin-bottom: 20px; border-bottom: 1px solid #cccccc; padding-bottom: 10px; }
.hgGroup h1, .hgGroup .h1 { font-size: 196%; margin-bottom: 0px; margin-top: 0px; }
.hgGroup h2, .hgGroup .h2 { font-size: 108%; margin-bottom: 0px; margin-top: 0px; text-transform: uppercase; }